<div *ngIf="userAdded" class="alert alert-success alert-dismissible fade show" role="alert">
    User added successfully!
    <button type="button" class="btn-close" aria-label="Close" (click)="closeAlert()"></button>
  </div>

<form>
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="user.name" name="name" required>
    </div>
    <div class="mb-3">
        <label for="role" class="form-label">Role</label>
        <select class="form-select" id="role" [(ngModel)]="user.role" name="role" required>
            <option value="Client">Client</option>
            <option value="Manager">Manager</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email" required>
    </div>
    <div class="mb-3">
        <label for="numberPhone" class="form-label">Number Phone</label>
        <input type="text" class="form-control" id="numberPhone" [(ngModel)]="user.numberPhone" name="numberPhone" required>
    </div>
    <button type="submit" class="btn btn-primary mx-2" (click)="addUser()">Submit</button>
    <a  routerLink="/users"  class="btn btn-white">Users</a>
</form>
