<div >
<div *ngIf="userAdded" class="alert alert-success alert-dismissible fade show" role="alert">
    User added successfully!
    <button type="button" class="btn-close" aria-label="Close" (click)="closeAlert()"></button>
  </div>
<div class="d-flex justify-content-center " >
  
<form class="w-50 ">
    <h3 class="my-3">Form User</h3>
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control  border-bottom border-0 border-primary border-3" id="name" [(ngModel)]="user.name" name="name" required>
    </div>
    <div class="mb-3">
        <label for="role" class="form-label">Role</label>
        <select class="form-select  border-bottom border-0 border-primary border-3" id="role" [(ngModel)]="user.role" name="role" required>
            <option value="Client">Client</option>
            <option value="Manager">Manager</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control  border-bottom border-0 border-primary border-3" id="email" [(ngModel)]="user.email" name="email" required>
    </div>
    <div class="mb-3">
        <label for="numberPhone" class="form-label">Number Phone</label>
        <input type="text" class="form-control  border-bottom border-0 border-primary border-3" id="numberPhone" [(ngModel)]="user.numberPhone" name="numberPhone" required>
    </div>
   <div class="d-flex justify-content-end"> <button type="submit" class="btn btn-primary mx-2" (click)="addUser()">Submit</button>
    <a  routerLink="/users"  class="btn btn-success">Users</a></div>
</form>
</div>
</div>