<!-- contracts.component.html -->
<div>
    <label for="searchClientId">Search Client ID: </label>
    <input type="number" id="searchClientId" [(ngModel)]="searchClientId" />
    <button (click)="searchContracts()">Search</button>
  </div>
  
  <div>
    <h2>Approved Contracts</h2>
    <ul>
      <li *ngFor="let contract of approvedContracts">{{ contract.title }}</li>
    </ul>
  </div>
  
  <div>
    <h2>Non-Archived Contracts</h2>
    <ul>
      <li *ngFor="let contract of nonArchivedContracts">
        {{ contract.title }}
        <button *ngIf="contract.id" (click)="archiveContract(contract.id)">Archive</button>

      </li>
    </ul>
  </div>
  